*{
margin: 0%;
padding: 0%;
cursor: pointer;
box-sizing: border-box;

}
body{
background-repeat:no-repeat;
background-image: url("img/kcc-img_4.jpg");
background-size: cover;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
nav ul{
    display: flex;
    gap: 60px;
    list-style: none; 
    margin-left: 100px;
    
}

ul li a{
    color: rgba(235, 26, 7, 0.819);
    text-decoration: none; 
    font-size: 20px; 
    
}
nav button{
background-color: blue;
border-radius: 20px;
word-spacing: 6px;
width: 100px;
color: white;
text-align: center;
height: 35px;
margin-right: 30px;
}
.SEC1{
    color: rgb(3, 0, 0);
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}
.SEC1 p span{
   color: red;
}